@CHARSET "UTF-8";

.boardCellContainer{
	background-color:transparent;	
	width: 9vmin;
	height: 9vmin;
	padding:0;
}

.boardCell {
	width: 9vmin;
	height: 9vmin;
	padding:0;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	font-size:50%;
	background-color:transparent;	
}
.boardCell.toAppear{
	background-size:50%;
}
#gameBoard{
/*  	background-image:url("../images/board.png");  */
	text-align:center;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;

	width:90vmin;
	height:90vmin;
	
	margin: 0 auto;
}
#proxyDiv{
	position:fixed;
	z-index:1000;
}

.boardCell.active {

-webkit-animation: cssAnimation 0.591s alternate infinite;
-moz-animation: cssAnimation 0.591s alternate infinite;
-o-animation: cssAnimation 0.591s alternate infinite;
}
@-webkit-keyframes cssAnimation {
from { 
	-webkit-transform: scale(0.4);
 }
to { 
	-webkit-transform: scale(0.9); 
}
}
@-moz-keyframes cssAnimation {
from { -moz-transform: scale(0.4); }
to { -moz-transform: scale(0.9); }
}
@-o-keyframes cssAnimation {
from { -o-transform: scale(0.4); }
to { -o-transform: scale(0.9); }
}

