@CHARSET "UTF-8";

.boardCell {
/* 	display: inline-block; */
/* 	position:static; */
	width: 9vmin;
	height: 9vmin;
	padding:0;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
	font-size:50%;
}
#gameBoard{
/* 	background-image:url("../images/board.png"); */
	text-align:center;
	background-position:center;
	background-size:contain;
	background-repeat:no-repeat;
/* 	margin-left:-.5em ; */
	width:90vmin;
	height:90vmin;
}

.boardCell.active {
	background-color: lightgreen;
}

.boardCell.open {
	background-color: pink;
}

.boardCell.path {
	background-color: yellow;
}