<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.quangsoftware.lines98"
        version     = "1.0" >

    <!-- versionCode is optional and Android only -->

    <name>Lines 98</name>

    <description>Ancient old game</description>
	
    <author href="http://basicmath.skku.edu" email="quanghm@gmail.com">
        Quang Hoang
    </author>
    
	<preference name="fullscreen" value="true" />
	<preference name="orientation" value="portrait" />
		
	<icon src="icon.png" />
	
	<!-- feature list -->
	<feature name="http://api.phonegap.com/1.0/network" />

</widget>